[submodule "3rd/protobuf"]
	path = clang-plugin/3rd/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "vscode-clangd"]
	path = vscode-clangd
	url = https://github.com/clangd/vscode-clangd.git
